#password {
    margin-bottom: 20px;
}

.rotateable {
    transition: all 100ms;
}

.title {
    padding: 15px;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 70px;
    background-color: white;
}

table {
    margin-top: 5px;
}

th:first-child {
    margin-left: 5px;
}

th:last-child, td:last-child {
    width: 250px;
}

.title > h1 {
    width: fit-content;
}

.title > button {
    margin: 0 15px;
}

textarea {
    resize: none;
}